.categories {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 40px;
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
}

.btn {
  padding: 13px 30px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  background-color: #f9f9f9;
  font-weight: 700;
  transition: background-color 0.1s ease-in-out;
}

.btn:hover {
  background-color: #f4f4f4;
}

.btnActive {
  background-color: #282828;
  color: #fff;
}

.btnActive:hover {
  background-color: #282828;
}
