.btn {
  z-index: 1;
  display: flex;
  align-items: center;
  min-width: 100px;
  margin-left: auto;
  padding: 12px 25px;
  background-color: #fe5f1e;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  line-height: 23px;
}

.text {
  font-size: 16px;
  font-weight: 700;
}

.divider {
  width: 1px;
  height: 25px;
  margin: 0 14px;
  background-color: rgba(255, 255, 255, 0.25);
}

.icon {
  margin-right: 8px;
}

@media (max-width: 899px) {
  .btn {
    position: fixed;
    bottom: calc(env(safe-area-inset-bottom) + 10px);
    right: 5px;
  }
}
